:root {
    --C_color: #FEFFF5;
    --A_color: #84D2FF;
    --R_color: #C2FF73;
    --Fuente: Arial, Helvetica, sans-serif;
    --C_Text_Size: .5vw;
    --C_Subtitule_Size: 1.5vw;
}

@media (max-width: 650px) {
    :root {
        --C_Subtitule_Size: 120 %;
    }
    .nav__lista__item a, .footer-p p{
        writing-mode: vertical-rl;
    }
    .footer-p p {
        position: relative;
        left: 100%;
    }
}

@keyframes FadeOut {
    to {
        opacity: 0;
        display: none;
    }
}

body {
    background-color: var(--A_color);
}

main {
    margin-left: 10%;
}

i {
    display: flex;
}

button {
    background: none;
    border: none;
}

.Txt__Cantidad {
    width: 5vw;
    max-width: 100px;
    min-width: 50px;
}

.Hidden {
    animation: FadeOut .5s forwards;
}

.Vista_Carrito {
    width: 100vw;
    display: grid;
    grid-template-areas:
    "Titulo"
    "Productos"
    "Botones";
}

.Carrito__S {
    display: flex;
    width: 100%;
}

.S__Titulo {
    justify-content: center;
    align-items: center;
    grid-area: Titulo;
    background-color: var(--A_color);
}

.S__Productos {
    grid-area: Productos;
    padding: 4vw;
    background-color: var(--C_color);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Carrito__Producto {
    width: 100vw;
    min-width: 300px;
    max-width: 50%;
}

.Carrito__Producto figcaption {
    column-gap: 2vw;
    row-gap: 1vw;
    display: flex;
    flex-wrap: wrap;
}


.S__Botones {
    grid-area: Botones;
    background-color: var(--A_color);
}

.Eliminar:hover {
    color: var(--R_color);
}

.producto__section__nombre {
    display: flex;
    flex-wrap: wrap;
}

.producto__section {
    min-width: 60px;
    max-width: 100%;
}

.Carrito__Producto__img {
    max-width: 20%;
}

.Carrito__Titulo {
    color: var(--C_color);
    font-size: var(--C_Subtitule_Size);
}

.Productos__Producto {
    min-width: 200px;
    max-width: 400px;
    text-align: center;
}

.Producto__Figura {
    display: flex;
    max-width: 400px;
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    align-items: end;
}

.Producto__Abajo {
    column-gap: 2vw;
}

.Vista_Filtros {
    position: relative;
    width: 60vw ;
    right: 0%;
}