.Filtros {
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 100%;
}

.Filtros__Productos {
  justify-content: space-around;
}

.Productos__Producto {
  min-width: 200px;
  max-width: 400px;
}

.Producto__Figura {
  display: flex;
  max-width: 400px;
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  align-items: end;
}

@keyframes FadeOut {
  to {
      opacity: 0;
      display: none;
  }
}

.Hidden {
  animation: FadeOut .5s forwards;
}

/* Estilos Compra Exitosa */

.P-container {
  justify-content: center;
}

.Titulo--compra-exitosa {
  width: 50%;
}